
@model IEnumerable<EntityLayer.Concrete.Blog>

<section class="products section bg-gray">
    <div class="container">
        <div class="row">
            <div class="title text-center">
                <h2>Trend Bloglar</h2>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="product-item">
                        <div class="product-thumb">
                            <span class="bage">@item.Category.Title</span>
                            <img class="img-responsive" src="@item.Image" alt="product-img" />
                            <div class="preview-meta">
                                <ul>
                                    <li>
                                        <a href="/Blog/BlogDetails/@item.BlogId"><i class="tf-ion-ios-heart"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="product-content">
                            <h4><a href="/Blog/BlogDetails/@item.BlogId">@item.Title</a></h4>
                            <p class="price text-danger">Rating : <span class="tf-ion-android-star">@item.BlogRating</span></p>
                            <p class="price">@item.BlogDate.ToString("d MMMMM yyy")</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>