
@model IEnumerable<EntityLayer.Concrete.Settings>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AnaLayout.cshtml";
}

<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <h1 class="page-name">Bize Ulaşın</h1>
                    <ol class="breadcrumb">
                        <li><a href="/Ana/Index/">Anasayfa</a></li>
                        <li class="active">İletişim</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-wrapper">
    <div class="contact-section">
        <div class="container">
            <div class="row">
                <!-- Contact Form -->
                <div class="contact-form col-md-6 ">
                    <form id="contact-form" method="post" role="form">

                        <div class="form-group">
                            <input type="text" placeholder="Ad Soyad" class="form-control" name="Name" id="name" required="">
                        </div>

                        <div class="form-group">
                            <input type="email" placeholder="Mail Adresi" class="form-control" name="Email" id="email" required="">
                        </div>

                        <div class="form-group">
                            <input type="text" placeholder="Konu" class="form-control" name="Subject" id="subject" required="">
                        </div>

                        <div class="form-group">
                            <textarea rows="6" placeholder="Mesajınız" class="form-control" name="Message" id="message" required=""></textarea>
                        </div>

                        <div id="cf-submit">
                            <input type="submit" id="contact-submit" class="btn btn-transparent" value="Gönder">
                        </div>

                    </form>
                </div>
                <!-- ./End Contact Form -->
                <!-- Contact Details -->
                <div class="contact-details col-md-6 ">
                    @foreach (var item in Model)
                    {
                    <div class="google-map">
                        <iframe src="@item.Map" width="600" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>                    
                    <ul class="contact-short-info">

                        <li>
                            <i class="tf-ion-ios-home"></i>
                            <span>@item.Address</span>
                        </li>
                        <li>
                            <i class="tf-ion-android-phone-portrait"></i>
                            <span>Telefon : @item.Phone</span>
                        </li>
                        <li>
                            <i class="tf-ion-android-globe"></i>
                            <span>Yönetmen : @item.DirectorName</span>
                        </li>
                        <li>
                            <i class="tf-ion-android-mail"></i>
                            <span>Mail : @item.Email</span>
                        </li>

                    </ul>
                    <!-- Footer Social Links -->
                    <div class="social-icon">
                        <ul>
                            <li><a class="fb-icon" href="@item.Facebook"><i class="tf-ion-social-facebook"></i></a></li>
                            <li><a href="@item.Twitter"><i class="tf-ion-social-twitter"></i></a></li>
                            <li><a href="@item.Linkedin"><i class="tf-ion-social-linkedin-outline"></i></a></li>
                            <li><a href="@item.Instagram"><i class="tf-ion-social-instagram-outline"></i></a></li>
                            <li><a href="@item.Youtube"><i class="tf-ion-social-youtube-outline"></i></a></li>
                        </ul>
                    </div>
                    }
                    <!--/. End Footer Social Links -->
                </div>
                <!-- / End Contact Details -->



            </div> <!-- end row -->
        </div> <!-- end container -->
    </div>
</section>

