
@model EntityLayer.Concrete.Message

@{
    ViewBag.Title = "GetSendboxMessageDetails";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<!DOCTYPE html>
<html>

<body class="hold-transition sidebar-mini">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Gönderilen Mesajlar</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                @Html.Action("ShowInboxDetailsByWriter", "WriterPanelMessage")
                <!-- /.col -->
                <div class="col-md-9">
                    <div class="card card-primary card-outline">
                        <div class="card-header mt-4 ml-2">
                            <h3 class="card-title">Gelen Mesaj</h3>
                        </div>
                        <!-- /.card-header -->

                        <div class="card-body p-4">
                            <div class="mailbox-read-info">
                                <h5>Konu : @Html.DisplayFor(x => x.Subject)</h5>
                                <br />
                                <h6>
                                    Alıcı Mail Adresi : @Html.DisplayFor(x => x.ReceiverMail)
                                    <span class="mailbox-read-time float-right">@Model.MessageDate.ToString("dd-MMMMM-yyy")</span>
                                </h6>
                            </div>

                            <!-- /.mailbox-controls -->
                            <div class="mailbox-read-message">
                                <p>@Html.DisplayFor(x => x.MessageContent)</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
        </div>
        <!-- /.row -->
    </section>
</body>
</html>

