
@model IEnumerable<EntityLayer.Concrete.Blog>

@{
    ViewBag.Title = "ABlogList";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="row">
    @foreach (var item in Model)
    {
    <div class="col-lg-4 col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <img src="@item.Image" alt="" class="img-fluid mb-2">
                    <h5 class="mt-3 mb-1">@item.Title</h5>
                    <p class="m-0 p-1">@item.BlogDate.ToString("d MMMMM yyy") / @item.Writer.Name</p>
                    <p class="m-0 p-1"><span class="fa fa-star text-danger"></span> @item.BlogRating</p>
                    <p class="m-0 p-1">@item.Category.Title</p>
                    <br />
                </div>
                <div class="text-center mb-2">
                    <a href="/Blog/BlogDetails/@item.BlogId" target="_blank" class="btn btn-primary">Detaylar</a>
                    @if (item.Status == true)
                    {
                        <a href="/Blog/ABlogDoFalse/@item.BlogId" class="btn btn-danger">Pasif Yap</a>
                    }
                    else
                    {
                        <a href="/Blog/ABlogDoTrue/@item.BlogId" class="btn btn-success">Aktif Yap</a>
                    }
                </div>
            </div>
        </div>
    </div>
    }
</div>

