
@model EntityLayer.Concrete.Admin

@{
    ViewBag.Title = "AdminProfile";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@using (Html.BeginForm("AdminProfile", "Admin", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.Id, new { @class = "form-control" })

        @Html.Label("Admin Adı")
        @Html.TextBoxFor(x => x.Username, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Username, "", new { @class = "text-danger" })
        <br />
        @Html.Label("Admin Şifre")
        @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
        <br />
        @Html.Label("Admin Rol")
        @Html.TextBoxFor(x => x.Role, new { @class = "form-control", disabled = "disabled" })
        <br />
        <button class="btn btn-info">Güncelle</button>
    </div>
}

