
@model EntityLayer.Concrete.Blog

@{
    ViewBag.Title = "NewBlog";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

@using (Html.BeginForm("NewBlog", "WriterPanel", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        @Html.Label("Başlık")
        @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
        <br />
        @Html.Label("İçerik")
        @Html.TextAreaFor(x => x.Value, 10, 20, new { @class = "form-control" })
        <br />
        @Html.Label("Kategori")
        @Html.DropDownListFor(x => x.CatId, (List<SelectListItem>)ViewBag.catelist, new { @class = "form-control" })
        <br />
        @Html.Label("Resim")
        <input type="file" name="Image" class="form-control">
        <br />
        <button class="btn btn-primary">Ekle</button>
    </div>
}

