
@model EntityLayer.Concrete.Blog

@{
    ViewBag.Title = "UpdateBlog";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<div class="col-xl-12 col-xxl-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Blog Bilgisi Güncelleme</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                @using (Html.BeginForm("UpdateBlog", "WriterPanel", FormMethod.Post))
                {
                    @Html.HiddenFor(x => x.BlogId, new { @class = "form-control input-default", @required = "required" })
                    @Html.HiddenFor(x => x.WriterId, new { @class = "form-control input-default", @required = "required" })
                    @Html.HiddenFor(x => x.CatId, new { @class = "form-control input-default", @required = "required" })
                    @Html.HiddenFor(x => x.BlogRating, new { @class = "form-control input-default", @required = "required" })
                    @Html.HiddenFor(x => x.BlogDate, new { @class = "form-control input-default", @required = "required" })
                    <div class="form-group">
                        @Html.Label("Başlık")
                        @Html.TextBoxFor(x => x.Title, new { @class = "form-control input-default", @required = "required" })
                    </div>
                    <div class="form-group">
                        @Html.Label("İçerik")
                        @Html.TextAreaFor(x => x.Value, 15, 30, new { @class = "form-control input-default", @required = "required" })
                    </div>
                    <button type="submit" class="btn btn-primary">Güncelle</button>
                }
            </div>
        </div>
    </div>
</div>

